appnope==0.1.0
arrow==0.13.1
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
croniter==0.3.27
cssmin==0.2.0
decorator==4.3.2
Flask==1.0.2
Flask-Assets==0.12
Flask-RQ2==18.3
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
GDAL==2.4.0
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsmin==2.2.2
konch==4.0.1
MarkupSafe==1.1.0
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
psycopg2==2.7.3.2
ptyprocess==0.6.0
Pygments==2.3.1
pymongo==3.7.2
python-dateutil==2.8.0
python-dotenv==0.10.1
python-magic==0.4.15
PyYAML==5.4
redis==3.1.0
requests==2.21.0
rq==0.13.0
rq-dashboard==0.4.0
rq-scheduler==0.9
six==1.12.0
SQLAlchemy==1.2.17
SQLAlchemy-Utils==0.33.11
traitlets==4.3.2
urllib3==1.24.1
uWSGI==2.0.18
wcwidth==0.1.7
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
