/* Sticky footer styles
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Poppins', sans-serif;
  margin: auto;
  width: 100vw;
  padding: 0;
  position: relative;
}
.footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.close {
  color: #fff;
}
.container {
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}
.container .text-muted {
  margin: 20px 0;
}
.d-sm {
  font-size: 12px;
  padding: 6px 24px;
}
.d-sm h5{
  padding-top: 5px;
}
.d-sm .line-btn{
  font-size:12px;
}

.text-wrap{
  white-space: normal!important;
}


#mintcast-command-list th, td {
  white-space: normal;
}
#mintcast-command-list th {
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
}
#mintcast-command-list .vcenter{
  vertical-align: middle;
}
#mintcast-command-list .center{
  vertical-align: middle;
  text-align: center;
}
.bashform{
  width:100%;  
}

#bash-modal .modal-body {
  height: 50vh;
  font-size: 13px;
  line-height: 1.5;
  font-family: Poppins;
  text-align: justify;
}

#bash-modal .modal-body #nav-tabContent{
  overflow-y: scroll;
  height: 100%;
}
.default-setting-panel{
  border: 1px solid #e8e8e8;
  padding: 12px;
}
.default-setting-panel .setting-form{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
pre {
  background: #fdf6e3;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  white-space: normal;
  color: #007bfe;
  page-break-inside: avoid;
  font-family: Poppins, "Courier New",Courier,monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 0;
  max-width: 100%;
  overflow: auto;
  padding: 5px 5px 5px 15px;
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-switch {
    flex-grow: 1;
    flex: 1 1 33%;
}

.modal-body pre {
  white-space: pre-wrap;
  background: #214559;
  color: #fff;
  border-left: 3px solid #ffd369;
  padding: 25px;
}


.toast {
    background-color: rgba(255, 255, 255, 1) !important;
    position: absolute; 
    top: 20px; 
    right: 30px;
    z-index: 10;
}