{% extends 'layout/base.html' %}
{% block content %}
        
      <div class="container">
        <form class="bashform">
          {% for key in txt %}
          <div class="form-group ">
            <label >{{key}}</label>
            <input type="txt" class="form-control" name={{key}} value={{bash[key]}} >
          </div>
          {% endfor %}

          {% for key in boolean%}
          <div class="form-check">
            {% if bash[key] %}
              <input type="checkbox" class="form-check-input" checked name={{key}}>
            {% else %}
              <input type="checkbox" class="form-check-input" name={{key}}>
            {% endif %}
            <label class="form-check-label" ckecked="true">{{key}}</label>
          </div>
          {% endfor %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          {% if 'id' in bash %}
          <button  type = "submit" class="btn btn-primary submit" data-action="update">update</button>
          {% else %}
           <button  type = "submit" class="btn btn-primary submit" data-action="add" data-bashid="{{bash['id']}}">addbash</button>
          {% endif %}
        </form>
        <div style="padding-left: 90px;">
          <button onclick="window.location.href = '{{ url_for('bash.delete_bash',bash_id=bash['id']) }}';" class="btn btn-danger ">delete</button>
        </div>
      </div>

{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/bash.js') }}"></script>

{% block javascript %}
{% assets "JS_FRAMEWORS_BASH" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}
{% endblock %}