{% extends 'layout/base.html' %}
{% block content %}

<div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000">
  <div class="toast-header">
    <strong class="mr-auto">Mintcast Setting Changed</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" style="opacity: 1">
    Hello, world! This is a toast message.
  </div>
</div>

<input id="csrf_token_hidden" type="hidden" name="csrf_token" value="{{csrf_token()}}">
<div class="default-setting-panel">
  <h5>Default Value Setting Panel</h5>
  <form class="setting-form" action="">
    {% for key in default_setting %}
    <div class="custom-control custom-switch">
      {% if default_setting[key] =='true' %}
      <input type="checkbox" class="custom-control-input" id="{{key}}" name="{{key}}" checked>
      {% else %}
      <input type="checkbox" class="custom-control-input" id="{{key}}" name="{{key}}" >
      {% endif %}
      <label class="custom-control-label" for="{{key}}">{{key}}</label>
    </div>
    {% endfor%}
  </form>
</div>
<hr>
<h5>Mintcast Tasks</h5>
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        
          <table id="mintcast-command-list" class="table table-sm" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th width="10%" class="center">Status</th>
                {% for key in th %}
                  {% if key!="" %}
                    <th width="72%">{{key}}</th>
                  {% endif %}
                {% endfor %}
                <th width="6%" class="center">Action</th>
                <th width="6%" class="center">Logger</th>
                <th width="6%" class="center">Edit</th>
              </tr>
            </thead>
            <tbody>
              {% set bash_rqids = [] %}
              {% set bash_ids = [] %}
              {% for bash in res %}
                <tr>
                  <td class="bash-status vcenter"></td>
                  {% for key in th %}
                  {% if key == 'command' %}
                      <td><pre>{{bash[key]}}</pre></td>
                  {% else %}
                      <td >{{bash[key]}}</td>
                  {% endif %}
                    <!-- <td></td> -->
                  {% endfor %}
                  <td class="center">
                    <button class="btn btn-outline-danger btn-sm run-btn" data-csrf="{{ csrf_token() }}" data-command="{{bash['command']}}" data-bashid="{{bash['id']}}">Run</button>
                  </td>
                  <td class="center">
                    <button class="btn btn-outline-info btn-sm status-btn" data-csrf="{{ csrf_token() }}" data-rqid="{{ bash['rqids'] }}" data-bashid="{{bash['id']}}" data-toggle="modal" data-target="#bash-modal">Log</button>
                  </td>
                  <td class="center">
                    <a class="btn btn-outline-primary btn-sm" href='{{ url_for('bash.view_bash',bash_id=bash['id']) }}'>Edit</a>
                  </td>
                </tr>

                {% do bash_rqids.append(bash['rqids']) %}
                {% do bash_ids.append(bash['id']) %}
              {% endfor %}
              <input id="bash_rqids" type="hidden" name="rqids" value="{{ bash_rqids|join(',') }}">
              <input id="bash_ids" type="hidden" name="bashids" value="{{ bash_ids|join(',') }}">
            </tbody>
          </table>
          <button  class="btn btn-primary" onclick="window.location.href = '{{ url_for('bash.add_bash')}}';">addBash</button>
      </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="bash-modal" tabindex="-1" role="dialog" aria-labelledby="bash-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bash-modal-label">Log</h5>
          <div class="bash-modal-status"></div>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  </div>
</div>





{% endblock %}



{% block javascript %}
{% assets "JS_FRAMEWORS_BASH" %}
<script src="{{ ASSET_URL }}"/></script>
{% endassets %}
{% endblock %}